.hero-header{
    text-align: center;
    font-size: 100px;
    font-family: "Pacifico";
    font-weight: 400;
}

.logo{
    height: 130px;
}

.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
    font-family: Pacifico;
}

.paw{
    height: 25px;
}

.dogs{
    width:100%;
}

.flex-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary{
    background-color:#D5B7F3 ;
    color: black;
    border-radius: 20px;
    border-color: #D5B7F3;
}

.paw-btn{
    border-radius: 50%;
}

.nav-link{
    font-family: "Pacifico";
}

.navbar-nav{
    padding-right: 250px;
}

